<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{% static 'add_user/css/bootstrap.css' %}">
</head>
<body>
    <div class ="container mt-5">
        <h2 class="text-center alert alert-danger"> Admin Panel </h2>

        {% block content %}  {% endblock content %}
    <script src="{% static 'add_user/js/jquery.js' %}"></script> 
    <script src="{% static 'add_user/js/popper.js' %}"></script> 
    <script src="{% static 'add_user/js/bootstrap.js' %}"></script> 
</body>
</html>