<body><div class="area"></div><nav class="main-menu">
  <ul>
      <li>
          <a href="{% url 'home' %}">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text" style = "color: white;">
                Home
            </a>        
      </li>
      <hr>
      <li class="has-subnav">
          <a href="#">
              <i class="fa fa-user fa-2x"></i>
              <span class="nav-text" style = "color: white;">
                  User / Profiles
              </span>
          </a>    
        </li>
        <hr>
      <li class="has-subnav">
          <a href="#">
             <i class="fa fa-envelope fa-2x"></i>
              <span class="nav-text" style = "color: white;">
                  Preference 
              </span>
          </a>
        </li>
        <hr>
      <li class="has-subnav">
          <a href="#">
             <i class="fa fa-tasks fa-2x"></i>
              <span class="nav-text" style = "color: white;">
                  Details Of Activity 
              </span>
          </a>
        </li>
  </ul>

  <ul class="logout">
      <li>
         <a href="#">
               <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text" style = "color: white;">
                  Logout
              </span>
          </a>
      </li>  
  </ul>
</nav>
</body>