<body><div class="area"></div><nav class="main-menu">
  <ul>
      <li>
          <a href="https://www.google.com/404">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text" style = "color: white;">
                 Community DashboardOnlinepan>
            </a>        
      </li>
      <hr>
      <li class="has-subnav">
          <a href="#">
              <i class="fa fa-user fa-2x"></i>
              <span class="nav-text" style = "color: white;">
                  User
              </span>
          </a>    
      </li>
      <hr>
      <li class="has-subnav">
          <a href="#">
             <i class="fa fa-envelope fa-2x"></i>
              <span class="nav-text" style = "color: white;">
                  Address
              </span>
          </a>
        </li>
  </ul>

  <ul class="logout">
      <li>
         <a href="#">
               <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text" style = "color: white;">
                  Logout
              </span>
          </a>
      </li>  
  </ul>
</nav>
</body>